:root {
	--buttons-primary-light-normal: rgba(186, 66, 112, 1);
	--buttons-primary-light-hover: rgba(218, 109, 151, 1);
	--buttons-primary-light-disabled: rgb(220, 160, 183);

	--buttons-secondary-light-normal: black;
	--buttons-secondary-light-normal-border: white;

	--buttons-secondary-light-hover: white;
	--buttons-secondary-light-hover-text: black;

	--buttons-secondary-light-disabled: black;
	--buttons-secondary-light-disabled-text: rgb(138, 145, 150);
	--buttons-secondary-light-disabled-border: rgb(138, 145, 150);

	--buttons-secondary-dark-normal: white;
	--buttons-secondary-dark-normal-border: rgba(54, 83, 107, 1);
	--buttons-secondary-dark-normal-text: rgba(54, 83, 107, 1);

	--buttons-secondary-dark-normal: rgba(54, 83, 107, 1);
	--buttons-secondary-dark-normal-text: white;

	--buttons-secondary-dark-normal: white;
	--buttons-secondary-dark-normal-border: rgb(154 168 180);
	--buttons-secondary-dark-normal-text: rgb(154 168 180);
}
.headerpart button {
	display: none;
}
@media screen and (min-width:768px){
	.headerpart button {
		display: block;
	}
	.enter-email button{
		top: -44px;
		right: -150px;}
}
button{
	background-color: var(--buttons-primary-light-normal);
    color: var(--color-secondary-Link-Water-White);
	border-radius: 25px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}
.enter-email button{
	position: relative;
	}
.enter-email button{
	padding: 10px 80px;
}
@media screen and (min-width:1440px){
	.enter-email button{
		top: -44px;
	right: -270px;
	}
	.enter-email button{
		padding: 10px 20px;
	}
}
.schedule:hover{
    background-color: var(--buttons-primary-light-hover);
}