:root {
	--buttons-secondary-light-normal: black;
	--buttons-secondary-light-normal-border: white;

	--buttons-secondary-light-hover: white;
	--buttons-secondary-light-hover-text: black;

	--buttons-secondary-light-disabled: black;
	--buttons-secondary-light-disabled-text: rgb(138, 145, 150);
	--buttons-secondary-light-disabled-border: rgb(138, 145, 150);

	--buttons-secondary-dark-normal: white;
	--buttons-secondary-dark-normal-border: rgba(54, 83, 107, 1);
	--buttons-secondary-dark-normal-text: rgba(54, 83, 107, 1);

	--buttons-secondary-dark-normal: rgba(54, 83, 107, 1);
	--buttons-secondary-dark-normal-text: white;

	--buttons-secondary-dark-normal: white;
	--buttons-secondary-dark-normal-border: rgb(154 168 180);
	--buttons-secondary-dark-normal-text: rgb(154 168 180);
}
button {
	border-radius: 25px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	padding: 10px 20px;
}
.btn-primary-light {
	background-color: var(--color-primary-dark-pink);
	color: var(--color-secondary-Link-Water-White);
}

.btn-primary-light:hover {
	background-color: var(--color-secondary-Charm-Pink);
}

.btn-primary-light:disabled {
	background-color: var(--buttons-primary-light-disabled);
}
.btn-secondary-light {
	background-color: var(--color-secondary-Mirrage-Blue);
	border: solid thin var(--color-secondary-Link-Water-White);
	color: var(--color-secondary-Link-Water-White);
}

.btn-secondary-light:hover {
	background-color: var(--color-secondary-Link-Water-White);
	color: var(--color-secondary-Mirrage-Blue);
}
.btn-secondary-light:disabled {
	border: var(--color-secondary-Light-San-Juan-Blue);
	color: var(--color-secondary-Light-San-Juan-Blue);
}

.btn-secondary-dark {
	border: solid thin var(--color-secondary-San-Juan-Blue);
	color: var(--color-secondary-San-Juan-Blue);
}
.btn-secondary-dark:hover {
	color: var(--color-secondary-Link-Water-White);
	background-color: var(--color-secondary-San-Juan-Blue);
}
.btn-secondary-dark:disabled {
	color: var(--color-secondary-Light-San-Juan-Blue);
	border: var(--color-secondary-Light-San-Juan-Blue);
}
