.checkbox{
	background-color:var(--color-secondary-Light-San-Juan-Blue) ;
}
.checkbox:active{
	background-color: var(--color-primary-dark-pink);
}
.checkbox:disabled{
	background-color: 	--color-secondary-Light-San-Juan-Blue
}